DATABASE_URL="postgresql://neondb_owner:npg_KL9ioz4ksdfq@ep-withered-art-alfucrnf-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
SPOTIFY_CLIENT_ID="a6711d34a2b14028903b4bde0556482d"
SPOTIFY_CLIENT_SECRET="2c743f2733ce4e55870adafbcf1511c8"
SPOTIFY_USER_ID="anderslbi@gmail.com"
SPOTIFY_MARKET=DK
RESEND_API_KEY="re_TREbzpLu_7Zkybp7oAL3hk8ZVMVrJNigj"
ALERT_EMAIL_TO="Anderslbi@gmail.com"
ALERT_EMAIL_FROM="admin@neutralplayer.dk"
CRON_SECRET="supersecretcronkey"
